@media (max-width: 600px) {
    body{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    html, body {
        position:relative;
        overflow-x:hidden;
      }
    .topbar{
        width: 100vw;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2%;
        position:fixed;
        z-index: 999;
    }
    .topbar button{
        width: 30%;
        height: 45%;
        background-color: transparent;
        border-color: transparent;
        color: white;
        font-size: 15px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .logo{
        height: 70%;
        position: relative;
        left: 3vw;
        top:0vh;
        width: auto;
    }
    .logo1{
        animation: slowRotate 10s linear infinite;
    }
    .background{
        position: absolute;
        width: auto;
        height: 100vh;
    }
    .background2{
        position: absolute;
        width: 100vw;
        height: 250vh;
        top:100vh;
    }
    .background3{
        position: absolute;
        width: 100vw;
        height: 250vh;
        top:250vh;
    }
    .aboutus{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .aboutus h1{
        color: white;
        font-size: 40px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .aboutus p{
        color: white;
        font-size: 15px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        overflow-wrap: break-word;
        width: 100%;
        height: 100%;
     }
    .nikeBanner{
        position:relative;
        height: 100vh;
        width:100vw;
        padding: 0;
        margin:0;
        top:6vh;
        display: flex;
        top:0;
    }
    .shoe1{
        min-width: 27%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .shoe1 h1{
        color: white;
        font-size: 30px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        padding-bottom: 10%;
    }
    .shoe1 button{
        font-size: 15px;
        width: 35vw;
        height: 8vh;
        gap: 10%;
        border-radius: 50px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        cursor: pointer;
    }
    
    .logos{
        animation: slowRotate 10s linear infinite;
    }
    @keyframes slowRotate {
        0% {
            transform: rotate(0deg);
        }
        33% {
            transform: rotate(5deg);
        }
        66% {
            transform: rotate(-5deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    @keyframes fadeout {
        0% {
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .banner1{
        position:absolute;
        height: 100vh;
        width: 100vw;
        top:0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner6{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top:400vh;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        flex-direction: column;
        transition: opacity 0.5s ease-out;
    }
    .pallot{
        width: 25%;
        height: 5%;
        position:absolute;
        bottom:5%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
    }
    .pallot img{
        width: 2%;
        height: auto;
    
    }
    .left_arrow{
        position: absolute;
        height: 4%;
        width: auto;
        left:3%;
        transform: rotate(-90deg);
        cursor: pointer;
        z-index: 9;
    }
    .right_arrow{
        position: absolute;
        height: 4%;
        width: auto;
        right:3%;
        transform: rotate(90deg);
        cursor: pointer;
        z-index: 9;
    }
    .shoe-holder{
        height: 100vh;
        width: 100vw;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap:50vw;
        transition: left 1s ease-in-out;
        left:36.5vw;
    
    }
    .banner2{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top:100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        transition: opacity 0.5s ease-out;
    }
    .banner4{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top:250vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        transition: opacity 0.5s ease-out;
    }
    .banner5{
        position: absolute;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        top:250vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        transition: opacity 0.5s ease-out;
    }
    .banner3{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top:100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        transition: opacity 0.5s ease-out;
        opacity: 0;
    }
    .mostwanted{
        width: 90vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .mostwanted h1{
        color: white;
        font-size: 40px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .mostwanted p{
        color: white;
        font-size: 20px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: left;
     }
     .wanted-photos{
        width: 100vw;
        height: 200%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
     }
     .wanted-photos img{
        width: 100%;
        height: auto;
     }
    .applyform{
        width: 95vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .applyform label{
    color: white;
        font-size: 35px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-left: 10%;
    }
    .applyform p{
        margin-left: 10%;
        color: white;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .applyform button{
        width: 50%;
        height: 10%;
        font-size: 20px;
        cursor: pointer;
        border-radius: 50px;
        z-index: 9;
        margin-left: 10%;
        margin-top: 1%;
    }
    .requirements{
        width: 90vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .requirements h1{
    color: white;
        font-size: 40px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .image-container{
        position: absolute;
        margin-top: 37%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 10vw;
        height: 35vh;
        margin-left: -10%;
    }
    .mostwantedbutton{
        z-index: 99;
        
        position: absolute;
    }
        
    .requirements p{
        color: white;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}